# Intro

We prepared five questions to help assess your basic Python skills.

After you open this notebook in Google Colab, to start, make a copy of the notebook to your own Google Drive (Click the menu "File" -> "Save a Copy in Drive"). Solve all five problems in the copied notebook. Once done, download the notebook (Click the menu "File" -> "Download" -> "Download .ipynb"). Last, submit it on Quercus.

If you are not familiar with how Google Colab or notebook works, see a quick overview [here](https://colab.research.google.com/notebooks/basic_features_overview.ipynb).

In [1]:
# let's first load a few packages you will need to answer the questions
import numpy as np
import pandas as pd
from __future__ import annotations

# Questions

**Q1.** What is a data structure in computer programming? Can you give two examples of data structures? (Double click the cell below to type your answer.)

My answer: A data structure is...

**Q2**. Toronto has a lot of snows in the winter. Let's write a Python function to print out a snow pile. A snow pile is represented by layers of snowfakes (`*`) forming a triangle shape. The top layer has one snowflake, and the number of snowflakes increases by 2 in subsequent layers. The function takes the number of layers as an input, and prints a snow pile. See two examples below. (You can assume that the number of layers is between 1 and 16, i.e. `0 <= num_layers <= 16`.)

```
Input: num_layers = 3
Output:
  *
 ***
*****

Input: num_layers = 5
Output:
    *
   ***
  *****
 *******
*********
```

In [2]:
# solve Q2 in this cell; do not change the function signature
def snow_pile(num_layers: int) -> None:
  """Print a snow pile

  Args:
    num_layers: an integer specifies how many layers the snow pile has

  Returns:
    None    
  """

  # start your code here
  pass

In [3]:
# you can test your snow_pile() function here
snow_pile(3)

**Q3.** Given a list of distinct integers in ascending order and a target integer, if the target is found in the list, return its index. If not, return the index where it would be if it were inserted in order. See a few examples below.

```
Input: nums = [1,3,5,6], target = 5
Output: 2

Input: nums = [1,3,5,6], target = 2
Output: 1

Input: nums = [1,3,5,6], target = -1
Output: 0

Input: nums = [1,3,5,6], target = 7
Output: 4
```

In [4]:
# write a function to solve Q3; do not change the function signature
def search_insert(nums: List[int], target: int) -> int:
  """Search or insert a target in an ordered list

  Args:
    nums: a list of distinct integers in ascending order
    target: the target integer to search or insert

  Returns:
    the target index if it is found in the list, or otherwise the
    index if the target were to be inserted in order   
  """

  # start your code here
  pass

In [5]:
# you can test your search_insert() function here
search_insert([1,3,5,6], 5)

**Q4.** Given two numpy 2-D positive integer arrays of the same dimension, `a1` and `a2`, return the sum of all elements in `a1` that are element-wise greater than those in `a2`. If none of the elements in `a1` is greater than the corresponding ones in `a2`, return `0`. See a few examples below.

```
Input:
  a1 = np.array([[1,2,3],[4,5,6]])
  a2 = np.array([[6,5,4],[3,2,1]])
Ouput: 15

Input:
  a1 = np.array([[1,2,3],[4,5,6]])
  a2 = np.array([[9,9,9],[9,9,9]])
Ouput: 0
```

In [6]:
# write a function to solve Q4; do not change the function signature
def sum_greater(a1, a2):
  """Sum of all elements in a 2D array that are element-wise greater 
    than those in another array

  Args:
    a1: a numpy 2D positive integer array
    a2: a numpy 2D positive integer array that has the same dimension as a1

  Returns:
    sum of all elements in a1 that are element-wise greater than those in a2;
    return 0 if none of the elements in a1 is greater than the corresponding 
    ones in a2
  """

  # start your code here
  pass

In [7]:
# you can test your sum_greater() function here
a = np.array([[1,2,3],[4,5,6]])
b = np.array([[6,5,4],[3,2,1]])
sum_greater(a, b)

**Q5.** You are given two Pandas dataframes. The dataframe `df_products` contains product information, and the dataframe `df_categories` contains category information (see below). The two dataframes are associated through the `CategoryID` columns. Your task is to count the number of products in each category. In particular, create a new dataframe `df_category_count` that has three columns, `CategoryID`, `CategoryName`, and `TotalCount`, where the `TotalCount` column contains the total number of products in each category. Display the `df_category_count` dataframe in ascending order of the `TotalCount` column.

In [8]:
# load the product and category datasets to two dataframes
df_products = pd.read_csv("https://raw.githubusercontent.com/tdmdal/datasets-teaching/main/nw/csv/Products.csv")
df_categories = pd.read_csv("https://raw.githubusercontent.com/tdmdal/datasets-teaching/main/nw/csv/Categories.csv")

In [9]:
# dispaly first 5 rows in df_products
df_products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [10]:
# dispaly all rows in df_categories
df_categories

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [11]:
# Count the number of products in each category
# Your code here